<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  </head>
  <body data-spy="scroll" data-target=".subnav" data-offset="50">
  <br>  <br><br>
  <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">ZittirGet</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="">
                  
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
    <%- body %>
    <br>

    <div class="well">
 <!-- Footer
      ================================================== -->
      <footer class="footer">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p><span class="label label-important">Attention</span> This page have problems working on MS IE versions. We suggest using <a href="http://www.google.com/Chrome">Google Chrome</a>.</p>
        <p>Design by <a href="http://twitter.github.com/bootstrap/index.html">twitter bootstrap</a>.</p>
        <p>Developed with <a href="http://www.nodejs.org">NodeJs</a>, used zip stream and socket.io libs</p>
		<p>We have only one word to those system admins who forced us to write this script. <strong>ZITTIRGET!!!!</strong></p>
      </footer>
      <div class="help-block"><i>All the downloads are being recorded. ZittirGet is not responsible for any fraud or inappropriate files that being downloaded. Use at your own risk.</i></div>
          </div>
          <div>hosted by:<br><a href="http://www.appfog.com"><img src="https://console.appfog.com/images/af-logo.png"></a></div>
    </div><!-- /container -->

<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-32483218-1']);
_gaq.push(['_setDomainName', 'zittirget.com']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="/javascripts/bootstrap-transition.js"></script>
    <script src="/javascripts/bootstrap-alert.js"></script>
    <script src="/javascripts/bootstrap-modal.js"></script>
    <script src="/javascripts/bootstrap-dropdown.js"></script>
    <script src="/javascripts/bootstrap-scrollspy.js"></script>
    <script src="/javascripts/bootstrap-tab.js"></script>
    <script src="/javascripts/bootstrap-tooltip.js"></script>
    <script src="/javascripts/bootstrap-popover.js"></script>
    <script src="/javascripts/bootstrap-button.js"></script>
    <script src="/javascripts/bootstrap-collapse.js"></script>
    <script src="/javascripts/bootstrap-carousel.js"></script>
    <script src="/javascripts/bootstrap-typeahead.js"></script>



  </body>
</html>